/basketballstats-f03ae-firebase-adminsdk-983h4-6d9d2ff860.json
/basketballstats-f03ae-firebase-adminsdk-983h4-8fbf803424.json
/basketballstats-f03ae-firebase-adminsdk-kibsb-116082bca7.json
/node_modules
/Resources
/Keys