.all-star-tile {
    position: relative;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: var(--orange);
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 10px;
    min-height: 200px;
    z-index: 1;
}

.all-star-tile h1 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}


.all-star-tile th {
    font-size: 24px;
}

.all-star-tile td {
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.all-star-tile tbody tr td:first-child {
    text-align: left;
}

.all-star-tile tbody tr td:last-child {
    text-align: right;
}

.all-star-tile thead tr th:first-child {
    text-align: left;
}

.all-star-tile thead tr th:last-child {
    text-align: right;
}

.all-star-tile table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}
.standings-buttons button {
    display: inline-block;
    background-color: var(--background-dark);   
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.all-star-tile:hover {
    transition: 0.4s;
    background-color: #D93E00;

}

.all-star-tile button:hover {
    transition: 0.4s;
    background-color: #3B3957;

}

.all-star-tile button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}


#all-star-loader {
    all: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.all-star-tile button {
    margin-bottom: 20px;
}

@media screen and (min-width: 1920px) {
    .all-star-tile {
        p {
            font-size: 20px;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 25px;
        }
    }
    .all-star-tile button {
        font-size: 25px;    
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 666px) {
    .all-star-tile h1 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 0;
    }
}