.draft-tile {
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--orange);
    box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 10px;
    min-height: 315px;
}

.draft-tile:hover {
    transition: 0.4s;
    background-color: #D93E00;

}

.draft-tile h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.draft-tile p {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
}

#loader {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

.draft-buttons {
    display: flex;
    justify-content: space-between;
   
}
.draft-tile button {
    transition: 0.4s;
    display: inline-block;
    background-color: var(--background-dark);   
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.draft-tile button:hover {
    transition: 0.4s;
    background-color: #3B3957;

}

.draft-tile button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}

.draft-tile th {
    text-align: left;
    font-size: 20px;
}

.draft-tile th:last-child {
    text-align: right;
}

.draft-tile table {
    border-collapse: collapse;
    margin-top: 20px;
}

.draft-tile td:first-child {
    width: 50%;
}

.draft-tile td:second-child {
    width: 40%;
}

.draft-tile td:last-child {
    width: 10%;
    text-align: right;
}

@media screen and (min-width: 1920px) {
    .draft-tile {
        font-size: 20px;
        min-height: 515px;
    }
    
    .draft-tile button {
        font-size: 30px;
    }
}