:root {
    --background-darkest: #272727;
    --background-dark: #242335;
    --orange: #F15C22;
    --white: #FFFFFF;
    --background-light: #2A293D;
    --gray: #D9DCD6;
    --orange-dark: #D93E00;
}



body {
    font-weight: semibold;
    background-color: var(--background-dark);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px; 
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: 0.4s;
    border-radius: 10px;
    background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: 0.4s;
    background: #D93E00; 
}
