:root {
    --background-darkest: #272727;
    --background-dark: #242335;
    --orange: #F15C22;
    --white: #FFFFFF;
    --background-light: #2A293D;
    --gray: #D9DCD6;
}



body {
    font-weight: semibold;
    background-color: var(--background-dark);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* This applies to all scrollable elements */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: none; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: 0.2s;
    background: #D93E00; /* Color of the handle when you hover over it */
}
