

.nav {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--background-darkest);
    top: 0%;
    left: 0%;
    margin: 0;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    z-index: 999;
}


.nav h1 {
    font-family: 'Lexend', sans-serif;
    font-size: 25px;
    text-decoration: underline;
    color: var(--orange);
    top: 50%;
    margin-left: 5px;
}


.nav img {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}


.nav h2 {
    position: absolute;
   
    font-family: 'Lexend', sans-serif;
    font-size: 25px;
    color: var(--white);
    left: 50%;
    transform: translateX(-50%);


}
